@import "tailwindcss";

body {
  font-family: var(--font-outfit), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
